---
// -------------------------- Iconos --------------------------
import SpotifyIcon from "../icons/SpotifyIcon.astro";
import HomeIcon from "../icons/HomeIcon.astro";
import SearchIcon from "../icons/SearchIcon.astro";
import ExplorerIcon from "../icons/ExplorerIcon.astro";
import NotificationIcon from "../icons/NotificationIcon.astro";
import GroupIcon from "../icons/GroupIcon.astro";
// ------------------------------------------------------------

---

<div>
    <div>
        <SpotifyIcon class="size-5"/>
    </div>

    <div>
        <HomeIcon class="size-5"/>
        <SearchIcon class="size-5"/>
        <ExplorerIcon class="size-5"/>
    </div>

    <div>
        <NotificationIcon class="size-5"/>
        <GroupIcon class="size-5"/>
    </div>
</div>